<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlinks}}
</head>
<body>
   {{>navbar}}
  <!-- main  -->
  <div class="container-fluide">
    <div class="row">
<div class="col-md-10 col-12 mx-auto">
    <div class="row">
        <div class="col-md-6 col-12 mai_header_left">
            <figure src="images/image 4.png" alt="First slide"></figure>
        </div>
        <div class="col-md-6 col-12 mai_header_right">
           <p>Welcome to Weather app</p>
<h1> Get the Latest <span class="text-clr">weather</span> info of you city</h1>
<a href="/weather"><button>Check now</button></a>
        </div>
    </div>

    </div>
    </div>
    </div>
     {{>footer}}
</body>
</html>